@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #f1f5f9;
  color: #1e293b;
  font-family: Inter, sans-serif;
}

html.dark body {
  background: #020617;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}